@import "tailwindcss";
/*
// Tailwind 4 should not be used with SASS, therefor SASS definitions should not use @apply: https://tailwindcss.com/docs/compatibility#sass-less-and-stylus
// However SCSS can be use full in addition in some cases (or of course instead of tailwind if this is what you prefer)
*/

@theme {
  /* You can overwrite exiting tailwind utility classes */
  --color-gray-900: hsla(235, 90%, 7%, .5);
  /* Or add new ones */
  --color-nuxt-green: hsla(152, 100%, 43%, 1);
  --drop-shadow-2xl: 0 0 48px rgba(0, 0, 0, 1);
}

@layer utilities {
  /* In Tailwind v3, any custom classes you defined within @layer utilities or @layer components would get picked up by Tailwind as a true utility class and would automatically work with variants like hover, focus, or lg with the difference being that @layer components would always come first in the generated stylesheet. */
  .thousand-generated-frames-animation {
    animation-name: thousandGeneratedFramesAnimation;
    animation-delay: 0;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .state-update-animation {
    animation-name: stateUpdateAnimation;
    animation-duration: .4s;
  }
}

@utility scale-up-transition {
  /* In v4 we are using native cascade layers and no longer hijacking the @layer at-rule, so we've introduced the @utility API as a replacement: */
  transform: scale(1.1);
  box-shadow:
    0 0 12px rgba(0, 255, 164, 0.5),
    0 0 24px rgba(0, 255, 164, 0.2),
    0 0 48px rgba(0, 255, 164, 0.1);
}
