// Mixin which can be used to generate keyframes for a background-gradient animation
@mixin animate-gradient-frames($name, $animationSteps) {
  @keyframes #{$name} {
    @for $i from 0 through $animationSteps {
      #{percentage($i / $animationSteps)} {
        background: linear-gradient(
          60deg + $i * 3,
          hsla( 250 + $i * 3, 40, 50, 1 ) (-100% + $i) * 2,
          hsla( 350 + $i * 3, 40, 50, 1 ),
          hsla( 300 + $i * 3, 40, 50, 1 ) (10% + $i + 20) * 2
        );
      }
    }
  }
}

// In this example we're generating 1000 frames for the background-gradient animation to be smooth, this cant be done in a convenient way using TailwindCSS
@include animate-gradient-frames(thousandGeneratedFramesAnimation, 1000);

// Also even if we are not using super complex animations, we can still use the animation mixin to generate the animation keyframes - this way our animations can be more reusable, maintainable and readable.
@keyframes stateUpdateAnimation {
  0% {
    filter: blur(2px);
    text-shadow: none;
  }
  60% {
    filter: blur(8px);
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  }
  100% {
    filter: blur(0);
    text-shadow: none;
  }
}

