// Tailwind 4 should not be used with SASS, therefor SASS definitions should not use @apply:
// https://tailwindcss.com/docs/compatibility#sass-less-and-stylus
// SCSS can be use full to create complex animations (or often also instead of tailwind)

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: .5s;
}
