/*
// Tailwind 4 should not be used with SASS, therefor SASS definitions should not use @apply: https://tailwindcss.com/docs/compatibility#sass-less-and-stylus
// However SCSS can be use full in addition in some cases (or of course instead of tailwind if this is what you prefer)
*/

@import "tailwindcss";

@theme {
  /* You can overwrite exiting tailwind utility classes */
  --color-gray-900: #020420;
  /* Or add new ones */
  --color-nuxt-green: #00dc82;
}

@layer utilities {
  /* In Tailwind v3, any custom classes you defined within @layer utilities or @layer components would get picked up by Tailwind as a true utility class and would automatically work with variants like hover, focus, or lg with the difference being that @layer components would always come first in the generated stylesheet. */
  .glowUp {
    animation-name: glowUp;
    animation-duration: 1.25s;
  }
  .stateUpdateAnimation {
    animation-name: stateUpdateAnimation;
    animation-duration: 1.25s;
  }
}

@utility interactiveAnimation {
  /* In v4 we are using native cascade layers and no longer hijacking the @layer at-rule, so we've introduced the @utility API as a replacement: */
  transform: scale(1.1);
  box-shadow:
    0 0 12px rgba(0, 255, 164, 0.5),
    0 0 24px rgba(0, 255, 164, 0.2),
    0 0 48px rgba(0, 255, 164, 0.1);
}
